
body{
    background-image: url("../src/assets/tricsy.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'IM Fell Double Pica', serif;
}
.container-fluid{
    margin-top: 10px;
    border-radius: 10px;
    padding-top: 5px;
    opacity: 0.8;
}